#cart-page {
    color: black;
    padding: 10px;
}

#cart-page .items-container {
    background-color: #f5f5f5;
    width: 52rem;
    margin: 24px auto;
    border-radius: 6px;
}

#cart-page .movie-img {
    width: 150px;
}

#cart-page table {
    display: inline-block;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}

#cart-page td {
    padding: 20px;
    border-bottom: 1px solid black;
}

#cart-page thead th {
    border-bottom: 1px solid black;

}

#cart-page .checkout {
    text-align: center;
    padding: 20px;
}


#cart-page .checkout p {
    margin-bottom: 15px;
}


#cart-page .checkout .buy-button {
    background-color: orange;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
}

#cart-page .empty-cart-message {
    background-color: black;
    color: #ee660f;
    text-align: center;
    margin-top: 10rem;
}

#cart-page .item-remove-button, .item-add-button {
    font-size: 30px;
}

#cart-page .item-remove-button {
    color: red;
}

#cart-page .item-add-button {
    color: mediumseagreen;
}

@media only screen and (max-width: 600px) {
    #cart-page {
        margin-top: 30px;
    }

    #cart-page .items-container {
        overflow-x: auto;
        width: 24rem;
    }

}