*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: #DDD;
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#complete-profile-page {
    margin: 5% auto;
    width: 550px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.complete-profile-form {

    box-sizing: border-box;
    padding: 40px;
}

.complete-profile-form h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

.complete-profile-form .got-profile-aside a {
    color: blue;
}

.complete-profile-title {
    text-align: center;
    margin-bottom: 20px;
}


@media only screen and (max-width: 600px) {
    #complete-profile-page {
        margin: 1% auto;
        margin-top: 30px;
        width: 300px;
        background: #FFF;
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        color: #ee660f;
    }


}