*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: #DDD;
    font-size: 16px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#complete-profile-page {
    margin: 1% auto;
    width: 550px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: #ee660f;
}

.complete-profile-form {

    box-sizing: border-box;
    padding: 40px;
}

.complete-profile-form h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

input[type="submit"] {
    margin-top: 15px;
    width: 120px;
    height: 32px;
    padding: 8px 16px;
    background: #ee660f;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.complete-profile-form .got-profile-aside a {
    color: blue;
}

.complete-profile-form .input-field {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 450px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

.complete-profile-form .input-field:focus {
    border-bottom: 2px solid #ee660f;
    transition: 0.2s ease;
}

.input-field[type="file"] {
    width: 210px;
}

.input-field[type="number"] {
    width: 180px;
}

select.input-field[name='genre'] {
    width: 140px;
}

select.input-field[name='category'] {
    width: 100px;
}

.complete-profile-title {
    text-align: center;
    margin-bottom: 20px;
}


@media only screen and (max-width: 600px) {
    #complete-profile-page {
        margin: 1% auto;
        margin-top: 30px;
        width: 300px;
        background: #FFF;
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        color: #ee660f;
    }


}