{% extends 'common/base.html' %}

{% block content %}
    <section id="cart-page">
        <section class="items-container">
            {% if tickets %}
        <table>
            <thead>
            <tr>
                <th>Image</th>
                <th>Movie</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total price</th>
                <th></th>
                <th></th>

                {#                <th>Total Price</th>#}
            </tr>
            </thead>
            {% for ticket in tickets %}
                <tr>
                    <td><img class="movie-img" alt="movie image" src="{{ ticket.movie.image.url }}"></td>
                    <td>{{ ticket.movie.title }}</td>
                    <td>{{ ticket.quantity }} tickets</td>
                    <td>{{ ticket.price|floatformat:2 }}$</td>
                    <td>{{ ticket.total_price|floatformat:2 }}$</td>
                    <td><a href="{% url 'remove from cart' ticket.cart_item_id %}" class="item-remove-button"><i class="fa-solid fa-circle-minus"></i></a></td>
                    <td><a href="{% url 'add to cart' ticket.id 1 %}" class="item-add-button"><i class="fa-solid fa-circle-plus"></i></a></td>
                    {#                    <td>{{ item.total_price }}</td>#}
                </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>{{ total_quantity }} tickets</td>
                <td></td>
                <td>{{ total_price }}$</td>
                <td></td>
                <td></td>
            </tr>
            </tfoot>
        </table>

        <article class="checkout">
            <form method="post" action="{% url 'cart view' %}">
                <p>After your purchase is confirmed, you will receive an e-mail from us with more information about your order.</p>
                {% csrf_token %}
                <input type="submit" value="Buy">
            </form>
        </article>
    {% else %}
            <h2 class="empty-cart-message">Your cart is empty!</h2>
    {% endif %}

        </section>

    </section>

{% endblock %}