{% extends 'common/base.html' %}

{% block content %}
    <div id="sign-in-box">
        <form method="post" action="{% url 'sign in' %}" class="sign-in-form">
            <h1>Sign in</h1>
            {% csrf_token %}
            {{ form }}
{#            <input type="text" name="email" placeholder="E-mail"/>#}
{#            <input type="password" name="password" placeholder="Password"/>#}
{#            <input type="password" name="password2" placeholder="Retype password"/>#}

            <p class="got-profile-aside">Haven't got an account? <a href="{% url 'sign up' %}">Sign Up</a></p>

            <input type="submit" name="signin_submit" value="Sign me in"/>
        </form>
    </div>

{% endblock %}