<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    vvv fontawesome vvv#}
    <script src="https://kit.fontawesome.com/4bb8eb69e3.js" crossorigin="anonymous"></script>

{#    vvv django-star-rating vvv #}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <title>Cinema</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'common/header.html' %}

    <main>
        {% block content %}

        {% endblock %}
    </main>

    {% include 'common/footer.html' %}
</body>
</html>