{% load static %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/header_scripts.js' %}"></script>
{% endblock %}

<header>
    <a href="{% url 'landing page' %}"><h2 class="page-title">Cinema</h2></a>
    <nav class="navigation">
        <ul>
            <li><a href="{% url 'landing page' %}" class="{% if request.path == '/' %}active{% endif %}">HOME</a>
            <li><a href="{% url 'list movies' %}"
                   class="{% if request.path == '/movies/' %}active{% endif %}">MOVIES</a>
{#            {% if request.user.is_staff %}#}
        <li><a href="{% url 'add movie' %}" class="{% if request.path == '/movies/add/' %}active{% endif %}">ADD
                MOVIE</a></li>
{#        {% endif %}#}
            {% if request.user.is_authenticated %}
                <li><a href="
{% if request.user.has_completed_profile %}
{% url 'profile' %}
{% else %}
{% url 'complete profile' %}
{% endif %}"
                       class="{% if request.path == '/profile/' or request.path == '/profile/complete_profile/' %}active{% endif %}">PROFILE</a>
                </li>
                <li><a href="{% url 'cart view' %}">CART</a></li>
                <li><a href="{% url 'sign out' %}">SIGN OUT</a></li>
            {% else %}
                <li><a href="{% url 'sign up' %}"
                       class="{% if request.path == '/auth/sign-up/' %}active{% endif %}">SIGN UP</a></li>
                <li><a href="{% url 'sign in' %}"
                       class="{% if request.path == '/auth/sign-in/' %}active{% endif %}">SIGN IN</a></li>
            {% endif %}

        </ul>
    </nav>
    <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>

        <ul class="mobile-menu">
            <li><a href="{% url 'landing page' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a>
            </li>
            <li><a href="{% url 'list movies' %}"
                   class="{% if request.path == '/movies/' %}active{% endif %}">Movies</a>
            </li>
{#            {% if request.user.is_staff %}#}
        <li><a href="{% url 'add movie' %}" class="{% if request.path == '/movies/add/' %}active{% endif %}">Add
                Movie</a></li>
{#        {% endif %}#}
            {#                <li><a href="{% url 'list actors' %}" class="{% if request.path == '/actors/' %}active{% endif %}">ACTORS</a>#}
            {#                </li>#}
            {% if request.user.is_authenticated %}
                <li><a href="
{% if request.user.has_completed_profile %}
{% url 'profile' %}
{% else %}
{% url 'complete profile' %}
{% endif %}"
                       class="{% if request.path == '/profile/' or request.path == '/profile/complete_profile/' %}active{% endif %}">Profile</a>
                </li>
                <li><a href="{% url 'cart view' %}">Cart</a></li>
                <li><a href="{% url 'sign out' %}">Sign Out</a></li>



            {% else %}
                <li><a href="{% url 'sign up' %}"
                       class="{% if request.path == '/auth/sign-up/' %}active{% endif %}">Sign Up</a></li>
                <li><a href="{% url 'sign in' %}"
                       class="{% if request.path == '/auth/sign-in/' %}active{% endif %}">Sign In</a></li>
            {% endif %}
        </ul>

    </div>

</header>