<header>
{#    <h1 class="page-title">#}
{#        Cinema#}
{#    </h1>#}

    <nav class="navigation">
        <a href="{% url 'landing page' %}"><h2 class="page-title">Cinema</h2></a>
        <ul>
            <li><a href="{% url 'landing page' %}">HOME</a></li>
            <li><a href="{% url 'list movies' %}">MOVIES</a></li>
            <li><a href="{% url 'add movie' %}">ADD MOVIE</a></li>
            <li><a href="#">ACTORS</a></li>
            <li><a href="#">PROFILE</a></li>

        </ul>
    </nav>
</header>