{% extends 'common/base.html' %}

{% block content %}
    <section id="sign-up-page">
            <form method="post" action="{% url 'sign up' %}" class="sign-up-form">
                <h1>Sign up</h1>
                {% csrf_token %}
                {{ form }}
                {#            <input type="text" name="email" placeholder="E-mail"/>#}
                {#            <input type="password" name="password" placeholder="Password"/>#}
                {#            <input type="password" name="password2" placeholder="Retype password"/>#}

                <p class="got-profile-aside">Already have a profile? <a href="{% url 'sign in' %}">Sign In</a></p>

                <input type="submit" name="signup_submit" value="Sign me up"/>
            </form>
    </section>

{% endblock %}