#cart-page {
    color: black;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    padding: 10px;
}

#cart-page .movie-img {
    width: 200px;
}

#cart-page table {
    display: inline-block;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: center;
}

#cart-page td {
    padding: 20px;
    border-bottom: 1px solid black;
}

#cart-page thead th {
    border-bottom: 1px solid black;

}

#cart-page .checkout {
    text-align: center;
    padding: 20px;
}


#cart-page .checkout p {
    margin-bottom: 15px;
}


#cart-page .checkout .buy-button {
    background-color: orange;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
}

