footer .footer-desktop {
    position: fixed;
    z-index: 99;
}

.footer-content {
    text-align: center;
    padding: 20px;
}

.footer-position-absolute-mobile {
    position: absolute;
    display: none;
}

.footer-position-relative-mobile {
    position: relative;
    display: none;

}


footer {
    background-color: #ee660f;
    color: white;
    width: 100%;
    bottom: 0;


}


@media only screen and (max-width: 600px) {

}