footer.footer-desktop {
    position: fixed;
    z-index: 99;
}

.footer-content {
    text-align: center;
    padding: 20px;
}

footer.footer-position-absolute-mobile {
    position: absolute;
    display: none;
}

footer.footer-position-relative-mobile {
    position: relative;
    display: none;
}


footer {
    background-color: #666160;
    color: white;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
}


@media only screen and (max-width: 600px) {
    footer {
        font-size: 20px;
    }

    /*.footer-position-relative-mobile {*/
    /*    display: block;*/
    /*}*/

    /*.footer-position-absolute-mobile {*/
    /*    display: none;*/
    /*}*/

    /*.footer-desktop {*/
    /*    display: none;*/
    /*}*/


}