#list-movies-page .movie-container, .actor-container {
    background-color: #e8e8e8;
    padding: 20px;
    color: #3d3939;
    box-shadow: 0 4px 8px 0 orange;
    transition: 0.3s;
    border-radius: 6px;
    width: 400px;
    text-align: center;
}

#list-movies-page .movie-container:hover, .actor-container:hover {
    box-shadow: 0 8px 16px 0 orange;
}


#list-movies-page .list-movies-title, .list-actors-title {
    text-align: center;
    margin: 24px;
}

#list-movies-page .movie-image img, .actor-image img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
}

#list-movies-page .movie-image, .actor-image {
    display: inline-block;
}

#list-movies-page .movie-title, .actor-title {
    color: black;
}

#list-movies-page .movie-info p {
    margin-top: 10px;
}


#list-movies-page .movies-container, .actors-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 32px;
    box-sizing: border-box;
    height: auto;
}

#list-movies-page .movie-buttons, .actor-buttons {
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
}

#list-movies-page .movie-buttons a, .actor-buttons a {
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    margin-right: 12px;
}

#list-movies-page .movie-buttons .details, .actor-buttons .details {
    background-color: deepskyblue;
}

#list-movies-page .movie-buttons .edit, .actor-buttons .edit {
    background-color: orange;
}

#list-movies-page .movie-buttons .delete, .actor-buttons .delete {
    background-color: red;
}

#list-movies-page .movie-buttons .details:hover, .actor-buttons .details:hover {
    background-color: #0287b1;
}

#list-movies-page .movie-buttons .edit:hover, .actor-buttons .edit:hover {
    background-color: #bf8000;
}

#list-movies-page .movie-buttons .delete:hover, .actor-buttons .delete:hover {
    background-color: #b10000;
}

#list-movies-page .no-actors-message, .no-movies-message {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#list-movies-page .pagination {
    background-color: #e8e8e8;
    position: absolute;
    bottom: 60px;
    left: 45%;
    margin-bottom: 20px;
    border-radius: 6px;
}

#list-movies-page .pagination li {
    display: inline-block;
    color: black;
    padding: 15px;
}

#list-movies-page .pagination li.active {
    background-color: #ee660f;
    color: white;
}

#list-movies-page .pagination li a {
    color: black;
}

.movie-info {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    #list-movies-page .movie-container {
        margin-bottom: 60px;
    }

    #list-movies-page .pagination {
        position: relative;
        bottom: 0;
        left: 0;
        border-radius: 0;
    }
}