@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
}

/*style base footer and nav*/

body {
    background-color: black;
    color: #ee660f;
    font-family: 'Roboto', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Itim', 'sans-serif';
    font-size: 30px;
}

.page-title {
    color: white;
    padding: 12px;
    letter-spacing: 1.5px;
}

.navigation ul {
    width: 100%;
    padding: 14px;
}

.navigation li {
    display: inline-block;
}

.navigation li a {
    color: white;
    padding: 14px 20px;
}

.navigation a:hover {
    background-color: #c45303;
}

.navigation {
    background-color: #ee660f;
    display: flex;
    align-items: center;
    text-align: center;
}

/*.page-title {*/
/*    color: #ee660f;*/
/*    text-align: center;*/
/*    padding: 12px;*/
/*    letter-spacing: 1.5px;*/
/*}*/

/*.navigation ul {*/
/*    display: inline-block;*/
/*    background-color: #ee660f;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    padding: 14px;*/
/*}*/

/*.navigation li {*/
/*    display: inline-block;*/
/*}*/

/*.navigation li a {*/
/*    color: white;*/
/*    padding: 14px 20px;*/
/*}*/

/*.navigation a:hover {*/
/*    background-color: #c45303;*/
/*}*/

header {
    position: fixed;
    width: 100%;
    top: 0;

}

footer {
    background-color: #ee660f;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    text-align: center;
    padding: 20px;
}

.home-page-wallpaper img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

/*style list movies*/

.movie-container {
    background-color: #ececec;
    display: inline-block;
    padding: 20px;
    color: #3d3939;
}

.list-movies-title {
    text-align: center;
    margin: 24px;
}

.movie-image img {
    width: 300px;
    max-height: 300px;
}

.movie-title {
    color: black;
}

.movies-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 34px;
    margin: 0 32px;
}

.movie-buttons {
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
}

.movie-buttons a {
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    margin-right: 12px;
}

.movie-buttons .details {
    background-color: deepskyblue;
}

.movie-buttons .edit {
    background-color: orange;
}

.movie-buttons .delete {
    background-color: red;
}

.movie-buttons .details:hover {
    background-color: #0287b1;
}

.movie-buttons .edit:hover {
    background-color: #bf8000;
}

.movie-buttons .delete:hover {
    background-color: #b10000;
}

.add-movie-page label {
    display: block;
}

.add-movie-page form {
        text-align: center;
    background-color: #ececec;
    width: 400px;

}