@import url("https://fonts.googleapis.com/css2?family=Itim&family=Roboto&display=swap");
@import "header_style.css";
@import "footer_style.css";
@import "home_page_style.css";
@import "list_movies_and_actors_style.css";
@import "movies_style/add_movie_style.css";
@import "auth_style/sign_up_style.css";
@import "auth_style/sign_in_style.css";
@import "movies_style/edit_movie_style.css";
@import "movies_style/movie_details_style.css";
@import "profile_style/profile_style.css";
@import "profile_style/complete_profile_style.css";
@import "profile_style/delete_profile_style.css";


* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
}

/*style base footer and nav*/

body {
    background-color: black;
    color: #ee660f;
    font-family: 'Roboto', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Itim', 'sans-serif';
    font-size: 30px;
}

main {
    padding-top: 60px;
    padding-bottom: 60px;
}

/*style list movies*/
