@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&display=swap');
@import "header_style.css";
@import "landing_page_style.css";
@import "movies_style/list_movies.css";
@import "movies_style/add_movie_style.css";
@import "auth_style/sign_up_style.css";
@import "auth_style/sign_in_style.css";
@import "movies_style/edit_movie_style.css";
@import "movies_style/movie_details_style.css";
@import "profile_style/profile_style.css";
@import "profile_style/complete_profile_style.css";
@import "profile_style/delete_profile_style.css";
@import "profile_style/edit_profile_style.css";
@import "tickets_cart/cart_view_style.css";
@import "movies_style/delete_movie_style.css";
@import "footer_style.css";
@import "auth_style/password_reset_style.css";
@import "auth_style/password_reset_sent_style.css";
@import "auth_style/password_reset_form_style.css";
@import "auth_style/password_reset_complete_style.css";
@import "tickets_cart/add_to_cart_style.css";
@import "projections_style/add_projection_style.css";
@import "projections_style/show_projections_style.css";
@import "common.css";




* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/*style base footer and nav*/

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', 'sans-serif';
    background-image: url("../images/background-image-example5.jpg");
    background-repeat: no-repeat;
    background-position-y: 60px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 30px;
    font-weight: bold;
}

main {
    padding-top: 60px;
    padding-bottom: 60px;
}


/*style list movies*/


/* media queries */

@media only screen and (max-width: 600px) {
    body {
        font-size: 1.7rem;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.7rem;
    }

    main {
        padding-top: 60px;
        padding-bottom: 120px;
    }
}

@media only screen and (max-width: 280px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.2rem;
    }


    body, a {
        font-size: 1.2rem;
    }
}