*:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: #DDD;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
}

#add-movie-page {
    color: #ee660f;
}

#add-movie-page #add-movie-box {
    margin: 15px auto;
    width: 550px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#add-movie-page .add-movie-form {
    box-sizing: border-box;
    padding: 40px;
}

#add-movie-page .add-movie-form h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}


#add-movie-page .add-movie-form .got-profile-aside a {
    color: blue;
}

@media only screen and (max-width: 600px) {
    #add-movie-page #add-movie-box {
        width: 310px;
    }
}




