/*#movie-details-page {*/
/*    background-color: ghostwhite;*/
/*    position: absolute;*/
/*    transform: translate(-50%, -50%);*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    min-width: 1400px;*/
/*    max-width: 1600px;*/

/*    min-height: 720px;*/
/*    padding: 30px;*/
/*    border-radius: 6px;*/
/*    box-shadow: 2px 2px 10px 2px orange;*/
/*    color: black;*/

/*}*/

/*#movie-details-page .movie-details-title {*/
/*    text-align: center;*/
/*    font-size: 2vw;*/
/*}*/

/*#movie-details-page .movie-image {*/
/*    display: inline-block;*/
/*    margin-left: 10px;*/
/*    vertical-align: top;*/
/*    margin-right: 30px;*/
/*}*/

/*#movie-details-page .movie-image img {*/
/*    float: left;*/
/*    width: 100%;*/
/*    max-width: 300px;*/
/*    max-height: 420px;*/
/*}*/

/*#movie-details-page .movie-details-content {*/
/*    display: inline-block;*/
/*    color: black;*/
/*    font-size: 1vw;*/
/*    margin-right: 20px;*/
/*    width: 40%;*/
/*}*/

/*#movie-details-page .movie-details-content p, h3 {*/
/*    margin-top: 15px;*/
/*}*/

/*#movie-details-page .movie-details-buy p {*/
/*    margin-top: 30px;*/
/*}*/

/*#movie-details-page .movie-details-buy .add-button {*/
/*    background-color: #ee660f;*/
/*    padding: 8px 16px;*/
/*    border-radius: 5px;*/
/*    color: white;*/
/*}*/

/*#movie-details-page .movie-details-buy p {*/
/*    margin-bottom: 20px;*/
/*    font-size: 18px;*/
/*    font-weight: bold;*/
/*    letter-spacing: 1px;*/
/*}*/

/*#movie-details-page .movie-details-buy {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 650px;*/

/*    margin-left: 90px;*/

/*    text-align: center;*/
/*    z-index: 1;*/

/*}*/

/*#movie-details-page .movie-details-video {*/
/*    !*    float: right;*!*/
/*    !*vertical-align: top;*!*/
/*    position: absolute;*/
/*    right: 10px;*/
/*    top: 100px;*/
/*}*/

/*#movie-details-page .movie-details-rate {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    top: 525px;*/
/*    margin-left: 55px;*/
/*    text-align: center;*/
/*    z-index: 3;*/
/*}*/

/*#movie-details-page .movie-details-comment {*/
/*    position: absolute;*/
/*    z-index: 2;*/
/*    right: 0;*/
/*    top: 30px;*/
/*    margin: 20px;*/
/*    display: none;*/
/*}*/

/*#movie-details-page .movie-details-comment h3 {*/
/*    text-align: center;*/
/*}*/

/*#movie-details-page .comment-area {*/
/*    resize: none;*/
/*}*/

#movie-details-page {
    position: relative;
    background-color: ghostwhite;
    width: 1600px;
    color: black;
    margin: 20px auto;
    padding: 40px;
    border-radius: 6px;
}

.movie-details-title {
    text-align: center;
    color: #666160;
}

#movie-details-page .movie-image-and-rate {
    display: inline-block;
}

#movie-details-page .movie-image-and-rate .movie-details-rate {
    margin-top: 20px;
}


#movie-details-page .movie-image-and-rate img {
    width: 100%;
    max-width: 330px;

}

.movie-details-content {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.movie-details-video-and-buy {
    display: inline-block;
    vertical-align: top;
}

.movie-details-content {
    margin: 0 40px;
}

.movie-details-content p, h3 {
    font-size: 20px;
    margin-top: 20px;
}

.movie-details-content-comment {
    margin-top: 30px;
}

.movie-details-content-comment {
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 19px;
}

.movie-details-content-comment .comment-area {
    height: 50px;
    width: 570px;
}

.movie-details-content-comment input {
    padding: 6px 12px;
    color: white;
    background: #666160;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}


.movie-details-comment-title {
    margin-bottom: 15px;
}


.movie-details-rate {
    margin-left: 65px;
}

.movie-details-buy .add-button {
    background-color: #666160;
    padding: 6px 12px;
    margin-bottom: 20px;
    color: white;
    border-radius: 4px;
}

.movie-details-buy p {
    margin-bottom: 20px;
}

.movie-details-buy {
    border: 1px solid black;
    padding: 25px;
    border-radius: 9px;
    width: 250px;
    margin: 60px auto;
    text-align: center;
    background-color: white;
}

.movie-details-video-and-buy .movie-video-mobile {
    display: none;
}

.movie-details-content-title-mobile {
    display: none;
}

.movie-details-mobile-buy {
    margin: 20px ;
}

.movie-details-mobile-buy p  {
    margin-bottom: 20px ;
}

.movie-details-comments-no-profile-message {
    text-decoration: underline;
}

#movie-details-page .movie-details-comments-no-profile-message {
    font-size: 24px;
    color: #666160;
}

#movie-details-page .movie-details-buy-no-profile-message {
    color: #666160;
    font-size: 24px;

}

#movie-details-mobile {
        display: none;
}

#movie-details-mobile {
    text-align: center;
    margin: 20px;
}

#movie-details-mobile .movie-details-mobile-info p {
    color: #c9c9c9;
    font-size: 20px;
    text-align: start;
    margin: 10px;
}

#movie-details-mobile .movie-details-mobile-description p {
    text-align: start;
    margin: 10px;
}


@media only screen and (max-width: 600px) {
    #movie-details-page {
        width: 350px;
    }

    #movie-details-page .comment-area {
        width: 200px;
    }

    #sign-in-box .input-field[type="text"], .input-field[type="password"], .input-field[type="email"] {
        width: 220px;
    }


    .movie-details-video-and-buy .movie-video-mobile {
        display: inline-block;
    }

    .movie-details-video-and-buy .movie-video-desktop {
        display: none;
    }

    .movie-details-content-comment {
        border: none;
        padding: 0;
        margin-bottom: 20px;
    }

    .movie-details-content {
        width: 250px;
    }


    .movie-details-content-title-mobile {
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }

    .movie-details-content-title-desktop {
        display: none;
    }

    .movie-details-rate {
        margin-left: 45px;
    }

    .movie-details-content p, h3 {
        font-size: 1.6rem;
    }

    #movie-details-page {
        display: none;
    }

    #movie-details-mobile {
        display: block;
    }



}