#movie-details-page {
    background-color: ghostwhite;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    display: inline-block;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 2px orange;
}

.movie-details-title {
    text-align: center;
    font-size: 2vw;
}

.movie-image {
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
}

.movie-image img {
    float: left;
    width: 100%;
}

.movie-details-content {
    display: inline-block;
    color: black;
    font-size: 1vw;
    margin-right: 50px;
    float: right;
    width: 60%;

}

.movie-details-content p, h3 {
    margin-top: 15px;
}

.movie-details-buy p, input {
    margin-top: 10px;
}

.movie-details-buy .add-button {
    display: block;
}

.movie-details-buy .quantity-input {
    width: 40px;
}