#add-to-cart-page {
    width: 50vw;
    background-color: white;
    color: black;
    margin: 10% auto;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
}

#add-to-cart-page .buy-button {
    background-color: #007a00;
    margin-top: 16px;
    color: white;
    padding: 7px 15px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
}

#add-to-cart-page .back-button {
    background: #c30000;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
    margin-right: 10px;
}

#add-to-cart-page .add-to-cart-page-title {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

#add-to-cart-page .back-button:hover, #add-to-cart-page .buy-button:hover {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
    cursor: pointer;
}

#add-to-cart-page .add-to-cart-movie {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    #add-to-cart-page {
        font-size: 16px;
        width: 80vw;
    }

    #add-to-cart-page .add-to-cart-page-title {
        margin-bottom: 26px;
        font-size: 24px;
    }

    #add-to-cart-page .back-button {
        padding: 7px 9px;
        margin-right: 0;
        font-size: 15px;
    }

}